* {
    box-sizing: border-box;
}

body {
    margin: 0px 0px 0px 0px;
    background-image: url(img/fondo.jpg);
    background-size: 100%, 100%;
    -webkit-background-size: 100% 100%;           /* Safari 3.0 */
    -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 100% 100%;
    background-color: aliceblue;
    font-family:Calibri, sans-serif;
    
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color:black;
    text-decoration: underline;
}

a:active {
    color:dodgerblue;
    font-weight: bold;
    text-decoration: underline;
}

a:visited {
    color: black;
}




#marco{
    position: absolute;
    width: 60%;
  /*  height: 70%;*/
    margin-top: 5%;
    margin-left: 20%;
    background-color:white;
    color:floralwhite;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #335C33;
    z-index: 90;
}


#volver{
    width: 250px;
    height: 40px;
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}


.titulo{
    background-color:#034A66;
    color:white;
    position: absolute;
    width: 100%;
    height:43px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    font-weight: bolder;
    font-size: 24px;
    z-index: 100;
    text-align: center;
}
#contenido{
    width: 100%;
    margin-top: 43px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0.5%;
    color:black;
    font-size: 22px;
    font-style: normal;
    text-align: center;    
}

.contenido-centrado {
}

.tabla-ingreso-datos {
    /*position: absolute;*/
    width:40%;
    margin-left: 30%;
    height: 50px;
}

.tabla-menu-inicial{
    width:50%;
    margin-left: auto;
    margin-right: auto;
}

.tabla-menu-inicial th {
	 text-indent: 8px !important; 
}

.tabla-ingreso-datos th {
    color:black;
    font-size: 22px;
    font-style: normal;
    text-align: left; 
    text-indent: 50px;
}

.tabla-ingreso-datos td {
    color:black;
    font-size: 22px;
    font-style: normal;
    text-align: center; 
    
}

.tabla-ingreso-datos-celda-icono {
	width: 40px;
}

.icono-usuario{
    width: 40px;
    height: 40px;
}

.campo-ingreso-datos{
    
}

.ingreso-datos{
    font-family: Calibri, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    color: black;
    text-align: center;
    width: 100%;
    
   /* 
    margin-left: 35%;
    margin-right: 25%;*/
}

.cuadro-login-admin{
    height: auto;
}

#cuadro-camara{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 320px;
    height: 240px;
    background-color: #478FB2;
/*    border-right: solid grey 2px;*/
    border: solid #31637B 1px;
}
 
#loginMal{
    display: none;
    background-color: red;
    border: solid red 4px;
    color: white;
    font-size: 24px;
    font-family: Calibri, Arial, sans-serif;
    font-weight: bold;
    
}